:root {
  --cell-size: 64px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 16px;

  background: #000000;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;

  color: #212529;
  background-color: #f8f9fa;
  border: none;
  border-radius: 0.25rem;

  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

  cursor: pointer;
}

.controls {
  margin: 25px 0;

  text-align: center;
}

.points {
  font-size: 20px;
  text-align: center;

  color: #f8f9fa;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;

  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.cell {
  position: relative;
}

.cell.selected::before {
  position: absolute;

  box-sizing: border-box;
  display: block;
  width: var(--cell-size);
  height: var(--cell-size);

  border: 4px;
  border-radius: 32px;
  opacity: 0.9;

  content: '';
}

.cell.selected-yellow::before {
  border-style: solid;
  border-color: #ffff00;
}

.cell.selected-green::before {
  border-style: dashed;
  border-color: #00ff00;
}

.cell.selected-red::before {
  border-style: dashed;
  border-color: #ff0000;
}

.board.prairie {
  --map-tile-top-left-url: url('../img/prairie/map-tile-top-left.png');
  --map-tile-top-url: url('../img/prairie/map-tile-top.png');
  --map-tile-top-right-url: url('../img/prairie/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/prairie/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/prairie/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/prairie/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/prairie/map-tile-left.png');
  --map-tile-right-url: url('../img/prairie/map-tile-right.png');
  --map-tile-center-url: url('../img/prairie/map-tile-center.png');
}

.board.desert {
  --map-tile-top-left-url: url('../img/desert/map-tile-top-left.png');
  --map-tile-top-url: url('../img/desert/map-tile-top.png');
  --map-tile-top-right-url: url('../img/desert/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/desert/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/desert/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/desert/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/desert/map-tile-left.png');
  --map-tile-right-url: url('../img/desert/map-tile-right.png');
  --map-tile-center-url: url('../img/desert/map-tile-center.png');
}

.board.arctic {
  --map-tile-top-left-url: url('../img/arctic/map-tile-top-left.png');
  --map-tile-top-url: url('../img/arctic/map-tile-top.png');
  --map-tile-top-right-url: url('../img/arctic/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/arctic/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/arctic/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/arctic/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/arctic/map-tile-left.png');
  --map-tile-right-url: url('../img/arctic/map-tile-right.png');
  --map-tile-center-url: url('../img/arctic/map-tile-center.png');
}

.board.mountain {
  --map-tile-top-left-url: url('../img/mountain/map-tile-top-left.png');
  --map-tile-top-url: url('../img/mountain/map-tile-top.png');
  --map-tile-top-right-url: url('../img/mountain/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/mountain/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/mountain/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/mountain/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/mountain/map-tile-left.png');
  --map-tile-right-url: url('../img/mountain/map-tile-right.png');
  --map-tile-center-url: url('../img/mountain/map-tile-center.png');
}

.map-tile {
  width: var(--cell-size);
  height: var(--cell-size);
}

.map-tile-top-left {
  background: var(--map-tile-top-left-url);
}

.map-tile-top {
  background: var(--map-tile-top-url);
}

.map-tile-top-right {
  background: var(--map-tile-top-right-url);
}

.map-tile-bottom-left {
  background: var(--map-tile-bottom-left-url);
}

.map-tile-bottom {
  background: var(--map-tile-bottom-url);
}

.map-tile-bottom-right {
  background: var(--map-tile-bottom-right-url);
}

.map-tile-left {
  background: var(--map-tile-left-url);
}

.map-tile-right {
  background: var(--map-tile-right-url);
}

.map-tile-center {
  background: var(--map-tile-center-url);
}

.character {
  position: absolute;
  z-index: 99;

  width: var(--cell-size);
  height: var(--cell-size);
}

.character.generic {
  background: url('../img/characters/generic.png');
}

.character.bowman {
  background: url('../img/characters/bowman.png');
}

.character.daemon {
  background: url('../img/characters/daemon.png');
}

.character.magician {
  background: url('../img/characters/magician.png');
}

.character.swordsman {
  background: url('../img/characters/swordsman.png');
}

.character.undead {
  background: url('../img/characters/undead.png');
}

.character.vampire {
  background: url('../img/characters/vampire.png');
}

.health-level {
  position: absolute;
  top: 2px;
  left: 7px;

  width: 50px;
  height: 4px;

  background: #000000;
}

.health-level-indicator {
  height: 4px;
}

.health-level-indicator-high {
  background: #00ff00;
}

.health-level-indicator-normal {
  background: #ffff00;
}

.health-level-indicator-critical {
  background: #ff0000;
}

.damage {
  position: absolute;
  z-index: 999;

  width: var(--cell-size);

  font-weight: bold;
  text-align: center;

  color: #ff0000;

  animation: 500ms fade ease-out;
}

@keyframes fade {
  from {
    top: calc(var(--cell-size) * 0.5);

    font-size: 1rem;

    opacity: 0;
  }
  to {
    top: -20px;

    font-size: 1.5rem;

    opacity: 1;
  }
}
